body{
	background:#E2A3B8 url('bg.jpg');
	margin:30px 0px 0px 340px;
	font:Normal 13px Arial, Helvetica, sans-serif;
	color:#362720;
}
#container{
	width:80%;
	height:100%;
	padding:10px;
	background-color:#fff;
	border:1px solid #CC3366;
}
#header h1{
	font-size:50px;
	margin:0;
	letter-spacing:-1px;
	font-family: Georgia, serif;
}
#header h1 a{	
	color:#362720;
	text-decoration:none;
	text-shadow:#000 2px 2px 2px;
}
.pointy{
	position:relative;
	margin:0px;
	margin-bottom:-5px;
	padding-left:15px;
	padding-top:15px;
	top:4px;
	background:url(http://static.twitter.com/images/arr2.gif) no-repeat 35px 0;
}
#sidebar {
	position:absolute;
	left:105px;
	font:Normal 14px Georgia,"Times New Roman",serif;
	line-height:15px;
	width:200px;
	background-color:#FFFFFF;
	padding:10px;
	color:#555555;
	margin-top:15px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:normal;
	font-size:12px;    
	border:1px solid #CC3366;
}    
h1{
	color: #666;
	margin: 0px 0px 10px 0px;
	font-weight: normal;
	font-size: 40px;
	letter-spacing: -1px;
}
h1 a{
	color:#666;
	text-decoration: none;
}   
.maintitle {
	margin: 30px 0px 10px 0px;
	color:#990000;
	font-size: 18px;
	text-align: left;
	letter-spacing: -1px;
	text-transform: uppercase;
	border-bottom: solid 1px #ccc;
}
a {
	text-decoration: none;
	color: #B40B43;
}
a:hover {
	text-decoration:  underline;
}
div.post {
	margin-bottom: 40px;
	position: relative;
}
div.post h2 {
	font-size: 15px;
	color: #444;
	margin: 0px 0px 5px 0px;
}

div.post h2 a {
	color: #B40B43;
	text-decoration: none;
}
.post .regular {
	font-size:        12px;
	color:#555;
	line-height:      17px;
	text-align: justify;
}